
*{
    font-family: "Roboto";
}
main {
   background-color: #ececec; 
   font-family:'Roboto';
}
.bg-ucsm{
   background-color: #245433;
   color: #ffffff;
}
.bg-sc-ucsm{
   background-color: #f8aa1a;
   color: #fff;
}
.footer {
   position: absolute;
   left: 0;
   padding: 1rem;
}
.a-ucsm:link{
   color: #245433;
}
.no-resize{
   resize: none;
}
.uppercase{
   text-transform: uppercase;
}

.mh-20{
   max-height: 20vh;
   overflow-y: scroll;
}

.mh-30{
   max-height: 30vh;
   overflow-y: scroll;
}

.mh-40{
   max-height: 40vh;
   overflow-y: scroll;
}

.mh-50{
   max-height: 50vh;
   overflow-y: scroll;
}

.mh-60{
   max-height: 60vh;
   overflow-y: scroll;
}

.mh-70{
   max-height: 70vh;
   overflow-y: scroll;
}

.mh-80{
   max-height: 80vh;
   overflow-y: scroll;
}

.text-11{
   font-size: 11px;
}

.text-12{
   font-size: 12px;
}

.text-13{
   font-size: 13px;
}

.text-14{
   font-size: 14px;
}

.text-15{
   font-size: 15px;
}

.text-16{
   font-size: 16px;
}

.text-17{
   font-size: 17px;
}

.text-18{
   font-size: 18px;
}

.text-left{
   text-align: left;
}

.text-right{
   text-align: right;
}

.text-center{
   text-align: center;
}

divHeader,
divFooter {
   flex: none;
}

.divBody {
   width: 100%;
   background-color: #ececec; 
   font-family: "Roboto";
}

.divHeader {
   background-color: #FFFFFF; 
   color: #000000;
   font-family:'Roboto';
}

.panel-default{
   color: #333;
   background-color: #FFFFFF;
   border-color: #ddd;
}

.panel-info{
   color: #333;
   background-color: #FFFFFF;
   border-color: #ddd;
}

.panel-success{
   color: #333;
   background-color: #FFFFFF;
   border-color: #ddd;
}

.divFooter {
   background-color: #ececec;
   width: 100%;
   color: #000000;
   z-index: 5000;
   font-family: "Roboto";
}

.panel > .panel-heading {
    background-image: none;
    background-color: #ffa000;
    color: white;
}

.panel > .panel-title {
    background-image: none;
    background-color: #ffa000;
    color: white;
}

.warning2{
   background-image: none;
   background-color: #ffa000;
   color: white;
   font-family: "Roboto";
}

.success2{
   background-image: none;
   background-color: #689f38;
   color: white;
   font-family: "Roboto";
}

@font-face {
    font-family: "Roboto";
    src: url(../Styles/fonts/RobotoCondensed-Regular.ttf) format("truetype");
}

table.table {
}

.container1 {
   width: 500px;
   margin: 0 auto;
   text-align: center;
   height: 100px;
 }
 .container1 .steps1 {
   position: relative;
   top: 50%;
   -webkit-transform: translateY(-50%);
           transform: translateY(-50%);
 }
 .container1 .steps1 ul {
   list-style: none;
 }
 .container1 .steps1 ul li {
   display: inline-block;
   width: 4rem;
   height: 4rem;
   line-height: 4rem;
   border-radius: 100%;
   background: #d8d8d8;
   margin-right: 4rem;
   position: relative;
 }
 .container1 .steps1 ul li:first-child {
   margin-left: unset;
 }
 .container1 .steps1 ul li:first-child:before {
   display: none;
 }
 .container1 .steps1 ul li:before {
   content: "";
   width: 4.4rem;
   background-color: #d8d8d8;
   height: 2px;
   position: absolute;
   top: 2rem;
   right: 3.9rem;
 }
 .container1 .steps1 ul .active {
   background: #fff;
   color: #fff;
 }
 .container1 .steps1 ul .active:before {
   background-color: #d8d8d8;
 }
 