{foreach from = $saDatos item = i}
<tr>
    <td>{$i['CCODALU']}</td>
    <td>{$i['CNRODNI']}</td>
    <td>{$i['CNOMBRE']}</td>
    <td>{$i['CNOMUNI']}</td>
    <td style="text-align: center">
        <input type="radio" name="paData[NSERIAL]" value="{$i['NSERIAL']}">
    </td>
</tr>
{/foreach}