{foreach from = $saDatos item = i}
<tr>
<td style='text-align: center'>{$i['DRECEPC']}</td>
<td style='text-align: center'>{$i['CCODALU']}</td>
<td style='text-align: center'>{$i['CNRODNI']}</td>
<td style='text-align: left'>{$i['CNOMBRE']}</td>
<td style='text-align: left'>{$i['CNOMUNI']}</td>
<td style="text-align: center"><input type="radio" name="paData[CCODALU]" value="{$i['CCODALU']}" required></td>
</tr>
{/foreach}