{if count($saDatos) == 0}
<option selected disabled value="">NO EXISTE GRUPO</option>
{else}
  {foreach from = $saDatos item = i} 
    <option value="{$i['CCOLUAC']}">{$i['CDESCRI']} - {$i['CUNIACA']} - {$i['CNOMUNI']}</option>
  {/foreach}
{/if}