{foreach from = $saGrpCol item = i} 
    <tr>
    <td style='text-align: center'>{$i['CCOLUAC']}</td>
    <td style='text-align: center'>{$i['TMODIFI']}</td>
    <td style="text-align: center">
    <button class="btn btn-info btn-block btn-md" onclick="f_VerActa(this);" type="button" value="{$i['CCOLUAC']}">Ver Acta</button>
    </td>
    </tr>
{/foreach}
