{foreach from=$saSolJur item=i}
   <tr onclick="f_seleccionarFila(this)">
   <td>{$i['DGENERA']}</td>
   <td>{$i['CCODALU']}</td>
   <td>{$i['CNOMALU']}</td>
   <td>{$i['CNOMUNI']}</td>
   <td style="text-align: center"><input type="radio" name="paData[CIDENTI]" value="{$i['CIDENTI']}" required></td>
   </tr>
{/foreach}